@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <form action="@Url.Action("ViewDocument")" method="POST">
        <label>Select File:</label>
        <input type="file" name="fileToView" />
        <input type="submit" class="btn btn-success" value="Render" />
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
